/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f3eaea;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Header styles */
h1 {
  color: #181616;
  text-align: center;
}

/* Form styles */
label {
  display: block;
  margin-bottom: 8px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007BFF;
  color: #866e6e;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 2rem;
}

button:hover {
  background-color: #0056b3;
  color: white
}